<h4>Sign in</h4>
<hr>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <span id="left">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    </span>
    <span>
      <%= label_tag :remember_me %>
    </span>
  </div>
  <div class="actions">
    <%= f.submit "Sign In", class: "btn btn-primary" %>
  </div>
<% end %>
