<h4>Sign in</h4>
<hr>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= link_to "Sign In", "#", class: "btn btn-primary", onclick: "$('form').submit()" %>
  </div>
<% end %>
