<script type="text/javascript">
  $(function() {
    $('#text').autocomplete({
      minLength: 2,
      source: '<%= affiliations_path(:json) %>',
      focus: function(event, ui) {
        $('#text').val(ui.item.name);
        return false;
      },
      select: function(event, ui) {
        $('#text').val(ui.item.name);
        $('#user_affiliation_id').val(ui.item.id);
        return false;
      }
    })
    .data("autocomplete")._renderItem = function(ul, item) {
      return $("<li></li>")
      .data("item.autocomplete", item)
      .append("<a>" + item.name + "</a>")
      .appendTo(ul);
    };
  });
</script>

<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>
</div>
<div class="field">
  <%= f.label :affiliation_id, "Main affiliation" %>
  <input id="text" type="text" />
  <input id="user_affiliation_id" name="user[affiliation_id]" type="hidden" />
</div>
