<%= div_for(feed_item) do %>
  <li class="minipost">
    <div class="row-fluid" id="feeditemlist">
      <div class="span1" id="left">
          <%= link_to gravatar_for(feed_item.user), feed_item.user %>
      </div>
      <div class="span10" id="right">
        <span class="user">
          <%= link_to feed_item.user.name, feed_item.user %>
        </span>
        <span id="minipost_content"><%= wrap(feed_item.content) %></span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
        </span>
        <% if current_user?(feed_item.user) %>
          <span class="delete">
            <%= link_to "Delete", feed_item,
              :method => :delete,
              :confirm => "Are you sure?",
              :title => feed_item.content,
              :remote => true
            %>
          </span>
        <% end %>
        <span class="pull-right">
          <%= link_to feed_item.responses.empty? ? "Respond" : pluralize(feed_item.responses.count, "response"), feed_item, locals: {minipost: feed_item} %>
        </span>
      </div>
    </div>
  </li>
<% end %>
