<%= form_for(@minipost, remote: true) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <br/>
  <div class="field">
    <%= text_field :minipost, :topics, :value => "", :placeholder => "Add topics separated by space" %>
  </div>
  <div>
    <p id="minipost_char_count"></p>
  </div>
  <div class="actions">
    <%= link_to "Post", "#", class: "btn btn-primary", onclick: "$('form').submit()" %>
  </div>
<% end %>
