<%= form_for(@minipost, :remote => true) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= label :minipost, :topics, "Add topics separated by space (optional)" %><br />
    <%= text_field :minipost, :topics, :value => ""  %>
  </div>
  <div>
    <p id="minipost_char_count"></p>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
