<div class="user_info">
  <div>
  <a href="<%= user_path(current_user) %>">
    <span>
    <%= gravatar_for current_user, :size => 30 %>
  </span>
    <span class="user_name">
      <%= current_user.name %>
    </span>
  </a>
  </div>
    <span class="miniposts">
      <%= pluralize(current_user.miniposts.count, "post") %>
    </span>
      <%= render 'shared/stats' %>
</div>
