<div class="user_info">
  <span>
  <a href="<%= user_path(current_user) %>">
    <%= gravatar_for current_user, :size => 30 %>
    <span class="user_name">
      <%= current_user.name %>
    </span>
  </a>
  </span>
    <span class="miniposts">
      <%= pluralize(current_user.miniposts.count, "post") %>
    </span>
      <%= render 'shared/stats' %>
</div>
