<ul class="miniposts" id="miniposts">
  <%= div_for(@minipost) do %>
    <li class="minipost">
      <div class="row-fluid" id="feeditemlist">
        <div class="span1" id="left">
          <%= link_to gravatar_for(@minipost.user), @minipost.user %>
        </div>
        <div class="span10" id="right">
          <span class="user">
            <%= link_to @minipost.user.name, @minipost.user %>
          </span>
          <span id="minipost_content"><%= wrap(@minipost.content) %></span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(@minipost.created_at) %> ago.
          </span>
          <% if current_user?(@minipost.user) %>
            <span class="delete">
              <%= link_to "<i class='icon-remove-sign'></i> Delete".html_safe, @minipost,
                method: :delete,
                confirm: "Are you sure?",
                title: @minipost.content,
                remote: true
              %>
            </span>
          <% end %>
          <span>
            <%= render(partial: 'miniposts/follow_form',
              locals: { minipost: @minipost }) if signed_in? %>
            <% unless @minipost.topics.empty? %>
                <% @minipost.topics[0..4].each do |t| %>
                  <%= link_to t.name, t, class: "delete" %>
                <% end %>
            <% end %>
          </span>
        </div>
      </div>
    </li>
  <% end %>
  <% unless @minipost.responses.empty? %>
    <%= render partial: 'responses/response', collection: @minipost.responses %>
  <% end %>
  <li><%= render 'shared/response_form', minipost: @minipost %></li>
</ul>
