<footer>
  <nav>
    <ul class="nav">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Terms of Use", termsofuse_path %></li>
      <li><%= link_to "Privacy Statement", privacystatement_path %></li>
      <li><%= link_to "Follow Us", followus_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
    </ul>
  </nav>
</footer>
