<header>
  <%= link_to logo, root_path %> 
  <nav class="round">
    <ul id="menu">
      <% if signed_in? %>
        <li><%= render 'search/search' %><li>
        <!--<li><%= link_to "+ Post", new_minipost_path, :class => "header_button" %></li>-->
        <li><%= link_to current_user.name, "#", class: "header_button" %>
          <ul>
            <li><%= link_to "Profile", current_user, :class => "header_button" %></li>
            <li><%= link_to "Settings", edit_user_path(current_user), :class => "header_button" %></li>
            <li><%= link_to "Sign Out", signout_path, :method => :delete, :class => "header_button" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign Up", signup_path, :class => "header_button signup" %></li>
        <li><%= link_to "Sign In", signin_path, :class => "header_button" %></li>
      <% end %>
    </ul>
  </nav>
</header>
