<header class="navbar navbar-fixed-top">
  <%= link_to logo, root_path, id: "logo" %> 
  <nav>
    <ul class="nav pull-right" id="menu">
      <% if signed_in? %>
        <li id="search_bar" class="pull-left"><%= render 'search/search' %><li>
        <!--<li><%= link_to "+ Post", new_minipost_path, :class => "header_button" %></li>-->
        <div class="dropdown">
        <li><%= link_to current_user.name, "#", id: "sign" %>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
          </ul>
        </li>
        </div>
      <% else %>
        <li><%= link_to "Sign Up", signup_path, id: "sign" %></li>
        <li><%= link_to "Sign In", signin_path, id: "sign" %></li>
      <% end %>
    </ul>
  </nav>
</header>
