<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :application %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%= javascript_include_tag "hint-textbox.js" %>
  </head>
  <body>
    <div class="container">
      <%= if not current_page?('/') or (current_page?('/') and signed_in?)
      		render 'layouts/header'
      	  end 
      %>
      <section class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>
      <hr>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
